#ccaoa>=3.3.1
git+ssh://git@github.com/ccaoa/ccaoa-mapping.git#egg=ccaoa
#git+ssh://git@github.com/ccaoa/ccaoa-mapping.git@dev/v3#egg=ccaoa
numpy
pandas
networkx
osmnx
shapely>=2.0  # Check if we need this explicitly, but it is a geopandas and osmnx req
h3
geopandas
scikit-learn
